@use "variables" as *;

pre code {
    padding: 0.5em;
    display: block;
    overflow-x: auto;
}

.hljs {
    color: $text;
    background: $dark;
}

code {
    background: $dark;
}

.hljs ::selection,
.hljs::selection {
    background-color: #28292a;
    color: #c1c3c4
}

.hljs-comment {
    color: #6bba83;
}

.hljs-tag {
    color: #a3a5a6
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
    color: #c1c3c4
}

.hljs-operator {
    opacity: .7
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
    color: #F5B052;
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
    color: #c9d364
}

.hljs-strong {
    font-weight: 700;
    color: #c9d364
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
    color: #F5B052;
}

.hljs-built_in {
    color: #A277F6;
}

.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
    color: #42fff9;
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
    color: #61AFEF;
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag {
    color: #2A85DB;
}

.hljs-type {
    color: #21CD9B;
}

.hljs-emphasis {
    color: #ea5ce2;
    font-style: italic
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
    color: #cd6320
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
    font-weight: 700
}

