@use "variables" as *;
@use "helpers" as *;

* {
  color: $text;
}

body {
  margin: 0px;
  height: 100vh;
  background-color: $medium;
}

@font-face {
    font-family: 'iconfont';
    src: url('/media/iconfont/font/iconfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'iconfont';
    font-style: normal;
    font-weight: normal;
}

.dropdown-icon {
    &:before {
        content:'\e800';
    }
}

#page {
  display: grid;
  grid-template-columns: 1fr 60em 1fr;
  grid-template-rows: 50px auto;
  height: 100vh;
  overflow: auto;
}

#header {
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 60em 1fr;
  top: 0px;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  background-color: $dark;
  z-index: 1;
  border-bottom: 1px solid black;

  &.scrolled_page {
    box-shadow: 0px 0px 20px 15px black;
    z-index: 1;
    clip-path: inset(0px 0px -400000px -20px);
  }
}

#header_title_label {
  grid-column-start: 1;
  grid-row-start: 1;
  width: fit-content;
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
  margin-right: 10px;
  align-self: center;
  justify-self: right;
  overflow: hidden;
}

#header_container {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  display: flex;
  column-gap: 40px;
}

.tl_menu_item {
  margin: 0px;
  height: 100%;
  font-size: 24px;
  align-self: center;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  cursor: pointer;

  i {
    font-size: 20px;
    text-align: center;
    height: fit-content;
    align-self: center;
  }

  &:hover {
    color: $contrast;
    p, i, > a {
      color: $contrast;
    }
  }

  a {
    align-self: center;
    text-decoration:none;
    padding: 5px 0px;
    width: 100%;

    &:hover {
      color: $contrast;
    }
  }
}

.dropdown {
  display: inline-block;

  &:hover {
    .dropdown_content {
      display: flex;

    }
  }
}

.dropdown_content {
  display: none;
  flex-direction: column;
  padding: 0px 10px;
  margin-left: -10px;
  position: absolute;
  background-color: $dark;
  min-width: 160px;
  height: fit-content;
  @include border(1px solid black, left, bottom, right);
  box-shadow: 0px 0px 10px 5px black;
  z-index: -1;
  clip-path: inset(0px -20px -20px -20px);

  a {
    align-self: center;
    padding: 5px 0px;
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
    text-decoration:none;

    &:hover {
      color: $contrast;
    }
  }

  hr {
    width: 100%;
    margin-top: -4px;
    margin-bottom: -4px;
    border: 1px dotted $text;
    border-style: none none dotted;
  }

  &:before, &:after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 15px;
  }

  .tl_menu_item {
    padding: 10px;
  }
}

#search_input {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 3;
  flex-direction: row;
  border-bottom: 1px solid $text;
  align-self: center;
  justify-self: left;
  margin: 0px;
  width: 20em;
  margin-left: 10px;
}

#search_input_field {
  font-size: 20px;
  width: 100%;
  flex: 1 1;
  border: none;
  background: none;
  outline: none;

  ::placeholder::before {
    content: "";
  }
}

#search_input:focus-within {
  border-bottom: 1px solid $contrast;

  #search_input_icon {
    color: $contrast;
  }
}

#search_input_icon {
  font-size: 20px;
  margin-right: 10px;
  margin-top: 2px;
}

.menu_icon {
  font-size: 32px;
}

#content {
  justify-self: center;
  grid-column-start: 2;
  width: calc(100% - 2 * 15px);
  padding: 0px 15px;
  min-height: fit-content;
  background-color: $light;
  box-shadow: 0px 0px 50px 10px black;

  a {
     color: #0288e8;
  }
}

#footer_note {
  font-size: 14px;
  text-align: center
}
